.text {
  padding: spacing(2, 2, 0);
}

.paper {
  padding-bottom: 50;
  z-index: 3;
}

.list {
  margin-bottom: spacing(2);
}

.subheader {
  background-color: paper;
}

.appBar {
  top: auto;
  z-index: 1;
  bottom: 0;
}

.fabButton {
  position: absolute;
  z-index: 1;
  top: -30;
  left: 0;
  right: 0;
  margin: 0 auto;
}



.formControl {
  margin: spacing(1);
  min-width: 120;
}

.selectEmpty {
  margin-top: spacing(2);
}

.menuButton {
  margin-right: spacing(2);
}